[project]
name = "agentic-rag-containerlab"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.12.5",
    "pygnmi>=0.8.15",
    "pyyaml>=6.0.3",
]
